.addVacation {
    height: 100%;
    background-color: white;
    box-sizing: border-box; /*fix bug in browsers*/
   /* display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 10% 90% ;*/
    /* border: 1px solid black; */
	}
      
/* .addVacation >header{
  background-color: dodgerblue;
  grid-column:span 6;
  height: 100%;
}

.addVacation >main{
  grid-column:span 6;
  height: 100%;
   padding: 2%; 
  margin-right: 0%;
} */
.Box {
  width:300px;
  text-align: left;
  margin:50px auto;
  border:1px solid;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px;
}

.addVacation input, .addVacation select, .addVacation button{
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}
